.svg-bg0-dims {
	width: 614.4px;
	height: 201.38px;
}

.svg-bg1-dims {
	width: 614.4px;
	height: 137.235px;
}

.svg-bg2-dims {
	width: 380.054px;
	height: 71.313px;
}

.svg-bg3-dims {
	width: 316.75px;
	height: 72.039px;
}

.svg-bg4-dims {
	width: 289.138px;
	height: 30.347px;
}

.svg-bg5-dims {
	width: 614.453px;
	height: 175.91px;
}

