extends _layouts/base

block content
    h1 Оглавление
    ul
      li 
        a(href="./home.html" title="Главная") Главная
      li 
        a(href="./styles.html" title="Стилевая") Стилевая
      li 
        a(href="./grid.html" title="Сетка") Сетка
      li 
        a(href="./form.html" title="Формы") Формы