extends _layouts/base

block content
  h1 Заголовок первого уровня
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus odit animi similique iure fugit provident fuga dolorum, adipisci unde laboriosam cumque dolor quas rem quaerat porro labore molestiae possimus.
  p Vitae doloremque placeat autem veritatis ut, numquam, perspiciatis nobis adipisci ducimus saepe obcaecati iure nisi consequuntur beatae suscipit libero fugit culpa distinctio temporibus voluptatibus! Neque doloribus consequuntur sed tenetur totam!
  p Commodi, corporis, quasi. Eius, beatae, provident. Temporibus distinctio assumenda autem, quaerat est, fuga esse, reiciendis laborum eos tenetur suscipit ut quo quasi sit nobis. Corrupti facere libero similique consectetur maxime.
  
  h2 Заголовок второго уровня
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus odit animi similique iure fugit provident fuga dolorum, adipisci unde laboriosam cumque dolor quas rem quaerat porro labore molestiae possimus.
  p Vitae doloremque placeat autem veritatis ut, numquam, perspiciatis nobis adipisci ducimus saepe obcaecati iure nisi consequuntur beatae suscipit libero fugit culpa distinctio temporibus voluptatibus! Neque doloribus consequuntur sed tenetur totam!
  p Commodi, corporis, quasi. Eius, beatae, provident. Temporibus distinctio assumenda autem, quaerat est, fuga esse, reiciendis laborum eos tenetur suscipit ut quo quasi sit nobis. Corrupti facere libero similique consectetur maxime.
  
  h3 Заголовок третьего уровня
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus odit animi similique iure fugit provident fuga dolorum, adipisci unde laboriosam cumque dolor quas rem quaerat porro labore molestiae possimus.
  p Vitae doloremque placeat autem veritatis ut, numquam, perspiciatis nobis adipisci ducimus saepe obcaecati iure nisi consequuntur beatae suscipit libero fugit culpa distinctio temporibus voluptatibus! Neque doloribus consequuntur sed tenetur totam!
  p Commodi, corporis, quasi. Eius, beatae, provident. Temporibus distinctio assumenda autem, quaerat est, fuga esse, reiciendis laborum eos tenetur suscipit ut quo quasi sit nobis. Corrupti facere libero similique consectetur maxime.
  
  ul
    li Пример
    li Ненумерванного
    li Списка
  
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus odit animi similique iure fugit provident fuga dolorum, adipisci unde laboriosam cumque dolor quas rem quaerat porro labore molestiae possimus.
  p Vitae doloremque placeat autem veritatis ut, numquam, perspiciatis nobis adipisci ducimus saepe obcaecati iure nisi consequuntur beatae suscipit libero fugit culpa distinctio temporibus voluptatibus! Neque doloribus consequuntur sed tenetur totam!
  p Commodi, corporis, quasi. Eius, beatae, provident. Temporibus distinctio assumenda autem, quaerat est, fuga esse, reiciendis laborum eos tenetur suscipit ut quo quasi sit nobis. Corrupti facere libero similique consectetur maxime.
  
  ol
    li Пример
    li Нумерванного
    li Списка
  
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus odit animi similique iure fugit provident fuga dolorum, adipisci unde laboriosam cumque dolor quas rem quaerat porro labore molestiae possimus.
  p Vitae doloremque placeat autem veritatis ut, numquam, perspiciatis nobis adipisci ducimus saepe obcaecati iure nisi consequuntur beatae suscipit libero fugit culpa distinctio temporibus voluptatibus! Neque doloribus consequuntur sed tenetur totam!
  p Commodi, corporis, quasi. Eius, beatae, provident. Temporibus distinctio assumenda autem, quaerat est, fuga esse, reiciendis laborum eos tenetur suscipit ut quo quasi sit nobis. Corrupti facere libero similique consectetur maxime.
  
  table
    tr
      th Заголовок
      th Простой
      th Таблицы
    tr
      td Ячейка
      td Простой
      td Таблицы